@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}
body {
  font-family: "Geist Mono", monospace;
}
a {
  position: relative;
  text-decoration: none;
  color: #909090;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #909090;
  transform: scaleX(1);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
a:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.caret {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
p, li {
  @apply text-sm text-[#909090] mt-1 leading-5
}
h1, h2, h3, h4, h5, h6 {
  @apply font-normal text-base mt-10
}
a {
  @apply text-sm text-[#909090]
}