---
import { Image } from 'astro:assets'
import BaseLayout from '@layouts/BaseLayout.astro'
import ProjectCard from '@components/ProjectCard.astro'
import WritingCard from '@components/WritingCard.astro'

import { DEFAULT_AUTHOR } from '@config/seo'
import { ListsProject } from '@config/projects'
import type { ListsProjectProps } from '@config/projects'
import { ListsNote } from '@config/notes'
import type { ListsNoteProps } from '@config/notes'
---

<BaseLayout>
	<div class="min-h-screen bg-[#222] text-gray-200">
		<main class="max-w-2xl mx-auto p-6 md:p-8">
			<section class="mb-12">
				<div class="flex items-center gap-4 mb-4">
					<div class="relative">
						<Image
							src="/home/efren-martinez.webp"
							alt="Profile picture"
							width={100}
							height={100}
							class="rounded-full border-2 border-gray-700"
							priority
						/>
					</div>
					<div>
						<h1 class="text-2xl font-bold">{DEFAULT_AUTHOR}</h1>
						<p class="text-gray-400 mt-2">
							Desarrollador Frontend en la Ciudad de Querétaro
						</p>
						<div
							class="inline-block mt-2 px-3 py-1 bg-gray-800 rounded-full text-sm text-gray-400 hover:bg-gray-700 transition"
						>
							efrencodes
						</div>
					</div>
				</div>
			</section>

			<section class="mb-12">
				<h2 class="text-xl font-medium mb-4">Sobre mí</h2>
				<p class="text-gray-400">
					Desarrollador frontend con experiencia en React, React
					Native, Vuejs, Next.js, TypeScript, Tailwind CSS, GraphQL.
				</p>
				<p class="text-gray-400 mt-4">
					Actualmente trabajo en <b class="text-yellow-400"
						>OCC Mundial</b
					> donde desarrollo productos digitales colaborando con equipos
					de UI/UX, Backend, PM y Infraestructura.
				</p>
			</section>

			<section class="mb-12">
				<h2 class="text-xl font-medium">Mis notas</h2>
				<p class="text-gray-400 mb-6 mt-3"></p>
				<div class="space-y-8">
					{
						ListsNote.map((items: ListsNoteProps) => (
							<WritingCard {...items} />
						))
					}
				</div>
			</section>

			<section class="mb-12">
				<h2 class="text-xl font-medium mb-6">Proyectos</h2>
				<div class="space-y-12">
					{
						ListsProject.map((items: ListsProjectProps) => (
							<ProjectCard {...items} />
						))
					}
				</div>
			</section>
		</main>
	</div>
</BaseLayout>
