---
import BaseLayout from '@layouts/BaseLayout.astro'
import ProjectCard from '@components/ProjectCard.astro'
import WritingCard from '@components/WritingCard.astro'
import HeaderTitle from '@components/HeaderTitle.astro'
import AboutMe from '@components/AboutMe.astro'
import LayoutNoteProject from '@components/LayoutNoteProject.astro'

import { ListsProject } from '@config/projects'
import type { ListsProjectProps } from '@config/projects'
import { ListsNote } from '@config/notes'
import type { ListsNoteProps } from '@config/notes'
---

<BaseLayout>
	<div class="min-h-screen bg-[#222] text-gray-200">
		<main class="max-w-2xl mx-auto p-6 md:p-8">
			<HeaderTitle />

			<AboutMe />

			<LayoutNoteProject title="Mis notas">
				{
					ListsNote.map((items: ListsNoteProps) => (
						<WritingCard {...items} />
					))
				}
			</LayoutNoteProject>

			<LayoutNoteProject title="Proyectos">
				{
					ListsProject.map((items: ListsProjectProps) => (
						!items.active && <ProjectCard {...items} />
					))
				}
			</LayoutNoteProject>
		</main>
	</div>
</BaseLayout>
