<section class="mb-12">
	<h2 class="text-xl font-medium mb-4">Sobre mí</h2>
	<p class="text-gray-400">
		Desarrollador frontend con experiencia en React, React Native, Vuejs,
		Next.js, TypeScript, Tailwind CSS, GraphQL.
	</p>
	<p class="text-gray-400 mt-4">
		Actualmente trabajo en <b class="text-yellow-400">OCC Mundial</b> donde desarrollo
		productos digitales colaborando con equipos de UI/UX, Backend, PM y Infraestructura.
	</p>
</section>
