<h2>contacto</h2>
<p>
  <a href="mailto:efrencodes@gmail.com">mail</a>{" "}~{" "}<a
    href="https://x.com/efrencodes/"
    class="text-[#909090] text-[0.85rem]"
    target="_blank"
    rel="noopener noreferrer">ğ•</a
  >{""}~{" "}<a
    href="https://www.linkedin.com/in/efrencodes/"
    target="_blank"
    rel="noopener noreferrer">linkedin</a
  >{" "}~{" "}<a
    href="https://github.com/efrencodes"
    target="_blank"
    rel="noopener noreferrer">github</a
  >.
</p>
