<h2 class="font-normal mb-2">connect</h2>
<p class="mb-8">
  reach me at <a href="mailto:jose@basement.studio" class="text-[#909090]"
    >jose@basement.studio</a
  > or follow my work on <a
    href="https://twitter.com/@ragojose"
    class="text-[#909090] text-[0.85rem]"
    target="_blank"
    rel="noopener noreferrer">ğ•</a
  >, <a
    href="https://www.aedin.com/in/efrenmartinez"
    class="text-[#909090]"
    target="_blank"
    rel="noopener noreferrer">aedin</a
  >, or <a
    href="https://github.com/efrenmartinez"
    class="text-[#909090]"
    target="_blank"
    rel="noopener noreferrer">github</a
  >.
</p>
