---
interface Props {
	period: string
	title: string
	description: string
	details: string[]
}
const { period, title, description, details } = Astro.props
---

<div class="flex gap-6 p-4 rounded-lg hover:bg-gray-800/30 transition-colors">
	<div class="text-gray-500 w-24 flex-shrink-0">{period}</div>
	<div class="flex-1">
		<h3 class="text-lg font-medium mb-1">
			<a href="#" class="hover:text-gray-100 transition">
				{title}
			</a>
		</h3>
		<p class="text-gray-400 mb-4">{description}</p>

		<div class="space-y-3">
			{
				details.map((detail: string) => (
					<p class="text-gray-400">{detail}</p>
				))
			}
		</div>
	</div>
</div>
