---
import { Image } from "astro:assets";
---

<li>
  <a href="/proyectos/calculadora-de-isr" class="text-[#909090]">
    vercel.com redesign
  </a>
  <p class="mt-1">
    reimagining the online presence of the cloud platform for static sites and
    serverless functions.
  </p>
  <div class="mt-2">
    <Image
      src="/placeholder.svg?height=200&width=350"
      alt="Vercel redesign preview"
      width={350}
      height={200}
      class="rounded-md"
    />
  </div>
  <p class="text-[#606060] mt-1">january 15, 2023</p>
</li>
