---
import { Image } from "astro:assets";
---

<div class="w-14 h-14">
  <Image
    src="/home/efren-martinez.webp"
    alt="Profile picture"
    width={56}
    height={56}
    class="object-cover bg-center rounded-full"
    priority
  />
</div>
