<h2 class="font-normal mb-2">today</h2>
<p class="mb-8">
  i'm a senior frontend developer at <a
    href="https://www.occ.com.mx"
    class="text-[#909090]"
    target="_blank"
    rel="noopener noreferrer">occ mundial</a
  >, specialized in developing web applications and collaborating with UI/UX,
  Infrastructure, Project Managers and Backend teams.
</p>