<h2>Ahora</h2>
<p>
  Desarrollador frontend en <a
    href="https://www.occ.com.mx"
    target="_blank"
    rel="noopener noreferrer">occ mundial</a
  > donde simplicamos la búsqueda de empleo.
</p>
<p>
  Mi expertise en Next.js, React, TypeScript, Tailwind CSS y GraphQL me permite
  construir aplicaciones web robustas y escalables.
</p>
<p>
  He colaborado estrechamente con equipos multidisciplinarios, incluyendo UI/UX,
  Infraestructura y PMs.
</p>
