<h2 class="font-normal mb-2">hoy</h2>
<p class="mb-10">
  En{' '}<a
    href="https://www.occ.com.mx"
    class="text-[#909090]"
    target="_blank"
    rel="noopener noreferrer">occ mundial</a
  >{' '}desarrollo productos digitales innovadoras junto a equipos de UX/UI, producto y backend.
</p>