---
import UserProfile from "@components/UserProfile.astro";
import TodaySection from "@components/TodaySection.astro";
import ContactSection from "@components/ContactSection.astro";
import ContainerSection from "@components/ContainerSection.astro";
import ListItem from "@components/ListItem.astro";
---

<!-- <div class="absolute top-6 right-6 w-48 h-48">
  <Image
    src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/T6NK24FBR-U6MJ9HL3W-de6768d81043-512%20(1)-OoDHIfGG0V3tznQyWyrJOtH5b6ZOoO.png"
    alt="Profile picture"
    width={192}
    height={192}
    class="object-cover"
    priority
  />
</div> -->
<div
  class="max-w-[32rem] w-full text-sm [&>p]:text-xs [&>p]:text-[#909090] [&_a]:text-xs [&_a]:text-[#909090]"
>
  <UserProfile />

  <TodaySection />

  <ContainerSection title="projects">
    {
      Array.from([2]).map(() => {
        return <ListItem />;
      })
    }
  </ContainerSection>

  <ContainerSection title="posts">
    {
      Array.from([2]).map(() => {
        return <ListItem />;
      })
    }
  </ContainerSection>

  <ContactSection />
</div>
