---
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>EFRÉN MARTÍNEZ</title>
    <meta name="google" content="notranslate" />
    <meta name="msapplication-TileColor" content="#d4d4d8" />
    <meta name="robots" content="index, follow" />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/plain"
      rel="author"
      href="https://www.efrencodes.com/humans.txt"
    />
    <meta
      name="apple-mobile-web-app-title"
      content={new URL("https://www.efrencodes.com")}
    />
    <meta
      name="application-name"
      content={new URL("https://www.efrencodes.com")}
    />
    <meta name="theme-color" content="#d4d4d8" />
    <meta
      name="keywords"
      content=""
    />
    <meta name="author" content="Efrén Martínez" />
    {/* Bing Webmaster Tools */}
    <meta name="msvalidate.01" content="CFB0EE4F9641D78D3282FD8FAA6D0565" />
    {/* ahrefs */}
    <meta
      name="ahrefs-site-verification"
      content="9ad8ba080db7b2dfb9e2af32909749dbec24348bbee6f5aefc5de4e9d28c6b87"
    />
  </head>
  <body
    class="min-h-screen bg-black text-white p-6 font-mono flex items-center justify-center relative"
  >
    <slot />
  </body>
</html>
