---
import '../styles/base.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>efren martinez</title>
		<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&display=swap" rel="stylesheet" />
	</head>
	<body class="min-h-screen bg-black text-white p-6 font-mono flex items-center justify-center relative">
		<slot />
	</body>
</html>
