---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <nav>
    <a href="/">← regresar a /</a>
  </nav>

  <h1>
    Calculadora de ISR | OCC Mundial<span class="caret">_</span>
  </h1>

  <Image
    src="/proyectos/calculadora-de-isr/home-desktop.png"
    alt="Calculadora de ISR para empleados de OCC Mundial"
    width={800}
    height={400}
    class="rounded-md"
  />

  <h2>acerca del proyecto</h2>
  <p>the vercel.com redesign</p>

  <h2>principales caracteristicas</h2>
  <ul class="list-disc list-inside">
    <li>responsive design optimized for all device sizes</li>
  </ul>

  <h2>Tecnologías</h2>
  <ul class="list-disc list-inside">
    <li>next.js v14</li>
    <li>react</li>
    <li>typescript</li>
    <li>tailwind css</li>
    <li>graphql</li>
    <li>recharts</li>
  </ul>
</Layout>
