---
import { Image } from 'astro:assets'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout>
	<nav>
		<a href="/">← regresar a /</a>
	</nav>

	<h1>
		Calculadora de ISR - OCC Mundial<span class="caret">_</span>
	</h1>

	<Image
		src="/proyectos/calculadora-de-isr/home-desktop.png"
		alt="Calculadora de ISR para empleados de OCC Mundial"
		width={800}
		height={400}
		class="rounded-md mt-10"
	/>

	<h2>url del proyecto</h2>
	<a
		href="https://www.occ.com.mx/salarios/calculadora-de-isr/"
		target="_blank"
	>
		www.occ.com.mx/salarios/calculadora-de-isr
	</a>

	<h2>acerca del proyecto</h2>
	<p>
		El proyecto consiste en desarrollar una calculadora de retención de ISR
		(Impuesto Sobre la Renta) que ayude a los usuarios a calcular de forma
		precisa sus impuestos sobre salarios semanales, quincenales o mensuales.
		La herramienta estará disponible en dispositivos móviles y de
		escritorio, optimizada para SEO y SEM, e incluirá recursos adicionales
		como preguntas frecuentes, contenido de blog y sugerencias de vacantes.
		Con este proyecto, se busca mejorar la visibilidad de OCC Mundial,
		atraer y retener usuarios, y aumentar el tráfico hacia la plataforma,
		manteniéndose competitiva en el mercado laboral.
	</p>

	<h2>principales caracteristicas</h2>
	<ul class="list-disc list-inside">
		<li>
			Permite calcular el impuesto retenido para salarios semanales,
			quincenales y mensuales
		</li>
		<li>
			Disponible en dispositivos de escritorio y móviles, garantizando una
			experiencia de usuario fluida
		</li>
		<li>
			Ofrece artículos relevantes para educar a los usuarios sobre temas
			fiscales y financieros
		</li>
		<li>
			Integra recomendaciones de empleo para ofrecer un valor adicional a
			los usuarios mientras utilizan la herramienta.
		</li>
	</ul>

	<h2>Tecnologías</h2>
	<ul class="list-disc list-inside">
		<li>next.js v14</li>
		<li>react</li>
		<li>typescript</li>
		<li>tailwind css</li>
		<li>graphql</li>
		<li>recharts</li>
	</ul>
</BaseLayout>
